* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center, .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #fff;
}

.container {
  height: 20vh;
  width: 100%;
  flex-direction: column;
}
.container p {
  margin: 0 0 0px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
}
.container .box {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-content: space-around;
  align-items: center;
}
.container .box > button {
  height: 120px;
  width: 120px;
  border-radius: 20px;
  outline: none;
}
.container .box > button:active {
  transform: scale(0.95);
}
.container .box .box1 {
  background-image: linear-gradient(45deg, #00008B 0%, #F8F8FF 99%, #333 100%);
  box-shadow: 0px 5px 10px 0px rgba(255, 154, 158, 0.5);
  border-top: 1px solid #ff9a9e;
  border-left: 1px solid #ff9a9e;
}
.container .box .box2 {
  background-image: linear-gradient(45deg, #008000 0%, #F8F8FF 99%, #333 100%);
  box-shadow: 0px 5px 10px 0px rgba(161, 140, 209, 0.5);
  border-top: 1px solid #ff9a9e;
  border-left: 1px solid #ff9a9e;
}
.container .box .box3 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  box-shadow: 0px 5px 10px 0px rgba(212, 252, 121, 0.5);
  border-top: 1px solid #d4fc79;
  border-left: 1px solid #d4fc79;
}
.container .box .box4 {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  box-shadow: 0px 5px 10px 0px rgba(240, 147, 251, 0.5);
  border-top: 1px solid #f093fb;
  border-left: 1px solid #f093fb;
}
.container .box .box5 {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  box-shadow: 0px 5px 10px 0px rgba(67, 233, 123, 0.5);
  border-top: 1px solid #43e97b;
  border-left: 1px solid #43e97b;
}
.container .box .box6 {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  box-shadow: 0px 5px 10px 0px rgba(22, 217, 227, 0.5);
  border-top: 1px solid #16d9e3;
  border-left: 1px solid #16d9e3;
}